# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
myenv/
*.env

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Temporary Files
*.log
*.bak
*.swp
*.tmp

# Dependency Management
pip-lock.txt
pipenv.lock